//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// FIX THE WDITH OF TASK LIST STATUS COLUMN
.govuk-task-list__item {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  gap: 0 15px;
}

.govuk-task-list__name-and-hint {
  min-width: 0;
}

.govuk-task-list__hint {
  margin-top: 5px;
}

.govuk-task-list__status {
  white-space: nowrap;
}

.govuk-task-list__status .govuk-tag {
  white-space: nowrap;
}

// FIX BACK LINK ALIGNMENT
.govuk-width-container .govuk-back-link {
  margin-bottom: 0;
}

// FIX THE COLOUR FOR CANNOT START YET TAG
.govuk-task-list__status .govuk-tag--inactive {
  background-color: transparent;
  color: $govuk-secondary-text-colour;
  /*border: 1px solid $govuk-border-colour;*/
}

//SECTION TEXT ABOVE H1 STYLE
.govuk-body .section-text {
  color: $govuk-secondary-text-colour;
}

//CONTENT TILE STYLE
.content-tile {
  /*background-color: transparent;*/
  background-color: #F3F2F1;
  border: 1px solid $govuk-border-colour;
  padding: 15px 18px 0px 18px;
  margin-bottom:30px;
}

//CUSTOM PANEL
.custom-panel {
  background-color: #f3f2f1; // GOV.UK light grey
  padding: 30px;
  margin-bottom:30px;
}