{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}


{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Heading goes here
      </h1>

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      {{ govukInsetText({
        text: "It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application."
      }) }}

      <table class="govuk-table">
        <!--<caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>-->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Amount</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Row one</td>
            <td class="govuk-table__cell">AAA</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Action</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Row two</td>
            <td class="govuk-table__cell">BBB</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Action</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Row three</td>
            <td class="govuk-table__cell">CCC</td>
            <td class="govuk-table__cell"><a href="" class="govuk-link">Action</a></td>
          </tr>
        </tbody>
      </table>
      
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Add a thing",
        classes: "govuk-button--secondary"
      }) }}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </div>
  </div>

{% endblock %}
