{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">PRSD</span>
    <h1 class="govuk-heading-xl">
      Letting agents design prototype
    </h1>

    <h2 class="govuk-heading-l">Protoytpes</h2>

    <div class="content-tile">
      <span class="govuk-caption-m">PDJB-69</span>
      <h1 class="govuk-heading-m">Landlords can delegate responsibilities to a letting agent</h1>
      <div class="govuk-body">
        <a href="/letting_agents" class="govuk-link">Start prototype</a>
      </div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Step-by-step walkthrough
          </span>
        </summary>
        <div class="govuk-details__text">
          Coming soon
        </div>
      </details>
    </div>

    <div class="content-tile">
      <span class="govuk-caption-m">PDJB-44</span>
      <h1 class="govuk-heading-m">Letting agents can carry out responsibilities that have been delegated to them</h1>
      <div class="govuk-body">Coming soon</div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Step-by-step walkthrough
          </span>
        </summary>
        <div class="govuk-details__text">
          Coming soon
        </div>
      </details>
    </div>

    <div class="content-tile">
      <span class="govuk-caption-m">PDJB-43</span>
      <h1 class="govuk-heading-m">Letting agents can register themselves</h1>
      <div class="govuk-body">Coming soon</div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Step-by-step walkthrough
          </span>
        </summary>
        <div class="govuk-details__text">
          Coming soon
        </div>
      </details>
    </div>

    <!--<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">-->

    <h3 class="govuk-heading-m">Change log</h3>
    
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Monday, 21 May 2026</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>Heroku has been set up and now in use</li>
    </ul>

    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Monday, 20 May 2026</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>All screens for PDJB-69 have been recrated in this prototype</li>
      <li>Routing has been updated for all screens where appropriate</li>
      <li>Still need to find the best way to integrate: <a href="/letting_agents/agency_not_found">/letting_agents/agency_not_found</a></li>
    </ul>

    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Tuesday, 15 May 2026</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>Protype start screen updated</li>
      <li>Created and updated CSS styles</li>
        <li>Content tile style</li>
      </ul>
    </ul>

    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Tuesday, 14 May 2026</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>Created and updated screens for: 
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>'Do you use a letting agent to manage this property?'</li>
        <li>Created screen for 'Select which type of licence applies to this property?'</li>
      </ul>
      <li>Created initial routing</li>
      <li>Created and updated CSS styles</li>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
        <li>Fix the wdith of task list status column</li>
        <li>Fix back link alignment</li>
        <li>Fix the colour for cannot start yet tag</li>
        <li>Section text above h1 style</li>
      </ul>
      <li>Protype start screen updated</li>
    </ul>

    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Friday, 10 May 2026</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>Protype created</li>
    </ul>

  </div>
</div>

{% endblock %}
