{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body govuk-!-margin-bottom-1">
      View the <a href="buttons" class="govuk-link">button test</a>
    </p>
    <p class="govuk-body-s govuk-secondary-text-color">
      This show two separate and unrelated buttons (not a button group).
    </p>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
