{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}

  {{ govukHeader({
    homepageUrl: "/"
  }) }}

  {{ govukServiceNavigation({
    serviceName: serviceName,
    serviceUrl: "/",
    navigation: [
      {
        href: "/account",
        text: "GOV.UK One Login"
      },
      {
        href: "/sign-out",
        text: "Sign out"
      }
    ]
  }) }}

{% endblock %}