{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <p class="govuk-body section-text">Section 2 of 2 — Check and submit property details</p>

      <h1 class="govuk-heading-l govuk-!-padding-top-1">
        Check your answers for: Flat 1, 11 Elm Drive, London, NW8 2DK
      </h1>

      <h2 class="govuk-heading-m">Property record</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Property address"
            },
            value: {
              html: "Flat 1<br>
              11 Elm Drive<br>
              London<br>
              NW8 2DK"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "property address1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Local council"
            },
            value: {
              text: "Westiminster City Council"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "",
                  visuallyHiddenText: "local council"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Property type"
            },
            value: {
              text: "Flat"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "property type"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Ownership type"
            },
            value: {
              text: "Leasehold"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "ownership type"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Letting agency details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Letting agency used"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "letting agency used"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Services provided"
            },
            value: {
              text: "Fully managed"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "services provided"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Name of agency"
            },
            value: {
              text: "Property Lettings & Co"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name of agency"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Permission given"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "permission given"
                }
              ]
            }
          }

        ]
      }) }}

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
        text: "You must keep your property record accurate and up to date. You can view any changes the agency makes.",
        iconFallbackText: "Warning"
      }) }}

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Confirm and continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
