{% extends "layouts/main.html" %}

{% block headerEnd %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
  }) }}

  <div class="govuk-width-container app-header-back-link">
    {{ govukBackLink({
      text: "Back",
      href: "#"
    }) }}
  </div>

{% endblock %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Registere your property</h1>

      {% set completedStatus = {
        text: "Completed"
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Incomplete",
          classes: "govuk-tag--blue"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

      <h2 class="govuk-heading-m">Register your property</h2>

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Address"
            },
            href: "#",
            status: completedStatus,
            classes: "govuk-task-list__item"
          },
          {
            title: {
              text: "Property type"
            },
            href: "#",
            status: completedStatus,
            classes: "govuk-task-list__item"
          },
          {
            title: {
              text: "Property ownership"
            },
            href: "#",
            status: completedStatus,
            classes: "govuk-task-list__item"
          },
          {
            title: {
              text: "Joint landlords"
            },
            href: "#",
            status: completedStatus,
              classes: "govuk-task-list__item"
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Rental details</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Letting agent"
            },
            hint: {
              html: "If a letting agent's managing this property, you can choose for them to complete the <strong>Rental details</strong> section."
            },
            href: "/letting_agents/do_you_use_a_letting_agent_to_manage_this_property.html",
            status: {
              tag: {
                text: "Not started",
                classes: "govuk-tag--blue"
              }
            },
            classes: "govuk-task-list__item"
          },
          {
            title: {
              text: "Property licensing"
            },
            status: {
              tag: {
                text: "Cannot start yet",
                classes: "govuk-tag--inactive"
              }
            },
            classes: "govuk-task-list__item"
          },
          {
            title: {
              text: "Current tenancy"
            },
            status: {
              tag: {
                text: "Cannot start yet",
                classes: "govuk-tag--inactive"
              }
            },
            classes: "govuk-task-list__item"
          },
          {
            title: {
              text: "Energy performance certificate (EPC)"
            },
            status: {
              tag: {
                text: "Cannot start yet",
                classes: "govuk-tag--inactive"
              }
            },
            classes: "govuk-task-list__item"
          },
          {
            title: {
              text: "Gas safety certificate"
            },
            status: {
              tag: {
                text: "Cannot start yet",
                classes: "govuk-tag--inactive"
              }
            },
            classes: "govuk-task-list__item"
          },
          {
            title: {
              text: "Electrical safety certificate"
            },
            status: {
              tag: {
                text: "Cannot start yet",
                classes: "govuk-tag--inactive"
              }
            },
            classes: "govuk-task-list__item"
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Submit this registration</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Check and submit your answers"
            },
            status: {
              tag: {
                text: "Cannot start yet",
                classes: "govuk-tag--inactive"
              }
            },
              classes: "govuk-task-list__item"
          }
        ]
      }) }}

      <!--<div class="govuk-!-margin-top-5">
        {{ govukButton({ text: "Apply", href: "#" }) }}
      </div>-->

    </div>
  </div>
{% endblock %}
